*{
    margin: 0;
    padding: 0;
    font-family: "New Amsterdam", sans-serif;
    font-weight: normal;
    color: #000021;
}

body{
    /* Background que sempre gera uma imagem aleatória */
    background: url('https://picsum.photos/1600/900?random=1');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    font-size: 4em;
}


section{
    
    border: 1px solid white;
    border-radius: 5px;
    padding: 5em;
    background: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(5px);

    & p{
        font-weight: 100;
        text-align: center;
    }

    & form{
        text-align: center;
    }

    & input[type='submit'], button{
        display: block;
        margin: 10px auto;
        font-size: 1.5em;
        padding: 0.2rem 1rem;

        background-color: #000021;
        border: none;
        border-radius: 5px;
        color: white;
    }

    & #reload{
        display: none;
    }


    & h3{
        text-align: center;
    }

    & ul{
        border-top: 1px solid;
        padding: 25px;
        font-size: 2.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        & li{
            list-style: none;
        }
    }
}